<% if supervisor?(current_user[:id])%>
    <h1>Tickets de Atraccion </h1>

    <% if !current_user[:atraccion].nil? %>
			<% @atr = Atraccion.find(current_user[:atraccion]) %>
			<%@count = 0%>
			<h1><%=@atr.nombre_atc%>
				<%if @atr.pause == false%>
					<%=link_to "Pausar <i class='fas fa-pause'></i>".html_safe ,{controller: "supervisor", action:"pausar", atc: @atr.id}, class: "btn btn-outline-warning"%>
				<% else %>
					<%=link_to "Iniciar <i class='fas fa-play'></i>".html_safe ,{controller: "supervisor", action:"play", atc: @atr.id}, class: "btn btn-outline-warning"%>
				<% end %>
			</h1>
		<div class="container-cola " >
			<div class="wrap-cola ">
				<h2 style="text-align:center;"> Lista de usuarios </h2>
					<div class="barra3 container">
					<% @c = 0%>
					<% @a = 0%>
						<table>
									<thead>
										<tr>
											<th>Numero</th>
											<th>Estado</th>
											<th>Servicio</th>
											<th>Omitir</th>
											<th>Contactar</th>
										</tr>
									</thead>
									<tbody>
							<% @supervisor.each do |sp| %>
											<% @tktest = TicketEstado.where("tickets_id = #{sp.tickets_id}").last %>
											<% @est = Estado.find(@tktest.estados_id)  %>
												<%if @count < @atr.capacidad_atc %>
													<%if @est.id != 4 && @est.id != 5 && @est.id != 3%>
														<tr>
															<td><input type="hidden" value="<%= sp.tickets_id %>" class="ticket"/><%= sp.tickets_id %></td>
															<td><%= @est.descripcion_est %></td>
															<%if @est.id == 2%>
																<%@a += 1%>
																<td><%= link_to "Servido", {controller: "supervisor", action: "cambiar_estado", estado: 3, ticket: sp.tickets_id } %></td>
															<%else%>
																<%@a = 0%>
																<td>En Espera</td>
															<%end%>
															<td><%= link_to "Omitir", {controller: "supervisor", action: "cambiar_estado", estado: 4, ticket: sp.tickets_id } %></td>
															<%@user = User.find(sp.users_id)%>
															<input type="hidden" value="<%=@user.id%>" class="users"/>
															<%if @est.id == 1%>
																<%@c = 0%>
																<td><%= link_to "Contactar", {controller: "supervisor", action: "llamar", id: @user.id, atc: @atr.id, estado: 2 , ticket: sp.tickets_id} %></td>
															<%else%>
																<%@c += 2%>
																<td><%= link_to "Contactar", {controller: "supervisor", action: "contactar", id: @user.id, atc: @atr.id} %></td>
															<%end%>
														</tr>
														<%@count += 1%>
													<% end %>
												<%end%>
							<% end %>
									</tbody>
					
						</table>
			<% if @count > 0%>		
				<% if @c == @a%>
					<div class="line">
						<form  action="<%=supervisor_cambiar_estado_masivo_path%>" method="get">
							<input type="hidden" name="tickets_id" id="intTicket">
							<input type="hidden" name="estado" value="2">
							<input type="hidden" name="atraccion" value="<%=@atr.id%>">
							<input type="hidden" name="usuarios" id="intUser">
							<input type="submit" value="Llamar a servicio" class="btn btn-primary">
						</form>
					</div>	
				<% else %>
					<div class="line">
						<div class="boton-cola ">
						<form class="boton-cola " action="<%=supervisor_servidos_path%>" method="get">
							<input type="hidden" name="tickets_id" id="intTicket">
							<input type="hidden" name="estado" value="3">
							<input type="submit" value="Servido" class="btn btn-primary">
						</form>
						</div>
							
						<form action="<%=supervisor_masivo_path%>" method="get">
							<input type="hidden" name="usuarios" id="intUser">
							<input type="hidden" name="atc" value="<%=@atr.id%>">
							<input type="submit" value="Contactar a Todos" class="btn btn-primary">
						</form>
					</div>
				<% end %>
			<%end%>
					</div>
			</div>
		</div>		
    <% else %>  
        <h3> Sin atraccion asignada </h3>
    <% end %>   

<% end %>

<script>
	
	function set_ticket() {
		var inputs = document.getElementsByClassName("ticket")
		var users = document.getElementsByClassName("users")
		var valores = ''
		var usuarios = ''
		var i = 0
		for (i; i < inputs.length; i++ ){
			if(i === 0){
			valores = inputs[i].value
			usuarios = users[i].value
			} else {
				valores = valores +',' + inputs[i].value
				usuarios = usuarios +',' + users[i].value
			}
		}
		
		document.getElementById("intTicket").value = valores
		document.getElementById("intUser").value = usuarios
	}


	setInterval(set_ticket,500)

</script>

<script>

	// function set_users() {

	// 	var inputs2 = document.getElementsByClassName("users")
	// 	var usuarios = ''
	// 	var e = 0
	// 	console.log("entrando al for")
	// 	for (e; e < inputs2.length; e++ ){
	// 		console.log("entro al for")
	// 		if(e === 0){
	// 			console.log("entro al if con valor 0")
    // 		usuarios = inputs2[e].value
	// 		} else {
	// 			console.log("entro al if con valor mayor a 0")
	// 			usuarios = usuarios +',' + inputs2[e].value
	// 		}

	// 	}
	// 	console.log(usuarios)
	// 	document.getElementById("intUser").value = usuarios
	// }
	// setInterval(set_users,500)

</script>