<% if supervisor?(current_user[:id])%>
    <h1>Tickets de Atraccion </h1>

    <% if !current_user[:atraccion].nil? %>
			<% @atr = Atraccion.find(current_user[:atraccion]) %>
			<%@count = 0%>
			<h1><%=@atr.nombre_atc%>
				<%if @atr.pause == false%>
					<%=link_to "Pausar <i class='fas fa-pause'></i>".html_safe ,{controller: "supervisor", action:"pausar", atc: @atr.id}, class: "btn btn-outline-warning"%>
				<% else %>
					<%=link_to "Iniciar <i class='fas fa-play'></i>".html_safe ,{controller: "supervisor", action:"play", atc: @atr.id}, class: "btn btn-outline-warning"%>
				<% end %>
			</h1>
	<div class="container-cola " >
		<div class="wrap-cola ">
			<h2 style="text-align:center;"> Lista de usuarios </h2>
				<div class="barra3 container">
					<table>
								<thead>
									<tr>
										<th>Numero</th>
										<th>Estado</th>
										<th>Servicio</th>
										<th>Omitir</th>
										<th>Contactar</th>
									</tr>
								</thead>
								<tbody>
						<% @supervisor.each do |sp| %>
										<% @tktest = TicketEstado.where("tickets_id = #{sp.tickets_id}").last %>
										<% @est = Estado.find(@tktest.estados_id)  %>
											<%if @count < @atr.capacidad_atc %>
												<%if @est.id != 4 && @est.id != 5 && @est.id != 3%>
													<tr>
														<td><input type="hidden" value="<%= sp.tickets_id %>" class="ticket"/><%= sp.tickets_id %></td>
														<td><%= @est.descripcion_est %></td>
														<%if @est.id == 1%>
															<td><%= link_to "Llamar a servicio", {controller: "supervisor", action: "cambiar_estado", estado: 2, ticket: sp.tickets_id } %></td>
														<%else%>
															<td><%= link_to "Servido", {controller: "supervisor", action: "cambiar_estado", estado: 3, ticket: sp.tickets_id } %></td>
														<%end%>
														<td><%= link_to "Omitir", {controller: "supervisor", action: "cambiar_estado", estado: 4, ticket: sp.tickets_id } %></td>
														<%@user = User.find(sp.users_id)%>
														<td><%= link_to "Llamar", {controller: "supervisor", action: "llamar", id: @user.id, atc: @atr.id} %></td>
													</tr>
													<%@count += 1%>
												<% end %>
											<%end%>
						<% end %>
								</tbody>
				
					</table>
				</div>
		</div>
	</div>		
    <% else %>  
        <h3> Sin atraccion asignada </h3>
    <% end %>   

<% end %>

<script>

	var inputs = document.getElementsByClassName("ticket")
	var valores
	function set_valor() {
		for (var i = 0; i > inputs.lentgh; i++ )
			{
				valores = inputs[i].value
				
			}
		return valores
		
	}

</script>