<% if admin?(current_user[:id]) || super?(current_user[:id]) %> 
    <div class="container-ed ">
        <div class="wrap-ed  ">
        <h2 style="text-align:center;"> Asignar atraccion </h2>

            <div class="ed-form"> 
                <label >Nombre: <%= @supervisor.name %></label><br>
                <label>Apellido: <%= @supervisor.last_name %></label><br>
                <label>Correo: <%= @supervisor.email %></label><br>
                <label>Telefono: <%= @supervisor.phone %></label><br>
                 <label>Atraccion:</label>
                <select  class=" select " id="atracciones">
                    <% @atraciones.each do |a| %>
                        <option  value="<%= a.id %>"><%= a.nombre_atc %></option>
                    <% end %>
                </select>
                
                <form  action="<%= administrador_asignaratraccion_path %>" method="get">
                    <input type="hidden" name="atraccion" id="atraccion">
                    <input type="hidden" name="usuario" value="<%= @supervisor.id %>">
                    <input type="submit" value="Asignar Atraccion" class='btn btn-primary super-btn'>
                </form>
            </div>
            
        </div>
    </div>
<% else %>
    <h1>Usted no deberia estar en esta pagina</h1>
<% end  %>
<script>

	function getGrupo() {
		document.getElementById("atraccion").value = $("#atracciones").val()
	}
	if (document.getElementById("atraccion")){
		setInterval(getGrupo,300)
	}

</script>