<% if super?(current_user[:id]) || super?(current_user[:id]) %>
  <div class="container-edsup " >
        <div class="wrap-super ">
          <h2 style="text-align:center;"> Lista de usuarios </h2>
            <div class="barra2 container">
              <table>
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Correo</th>
                      <th>Telefono</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                <% @user.each do |u| %>
                  <tr>
                    <td><%=u.name %> <%= u.last_name %> </td>
                    <td><%=u.email %> </td>
                    <td><%=u.phone %> </td>
                    <td><%= link_to "<i class='fas fa-edit'></i>".html_safe, administrador_edit_path(id: u.id)%>
                     <%# link_to 'Eliminar', administrador_eliminar_path(id: u.id) %> </td>
                  </tr>
                <% end %>
              </table>
            </div>
        </div>
  </div>
<% else %>
	<h1>Usted no deberia estar en esta pagina</h1>
<% end %>