<% if super?(current_user[:id]) %>

	<div class="container-ed ">
        <div class="wrap-ed  ">
        <h2 style="text-align:center;"> Asignar Rol </h2>

            <div class="ed-form"> 
				<label>Nombre: <%= @user.name %></label><br>
				<label>Apellido: <%= @user.last_name %></label><br>
				<label>Correo: <%= @user.email %></label><br>
				<label>Telefono: <%= @user.phone %></label><br>

					<label>Rol:</label>
					<select class="form-control" id="exampleFormControlSelect1">
					<% @group.each do |g| %>
						<option value="<%=g.id%>"><%= g.kind %></option>
					<% end %>
					</select>
				<form action="<%= administrador_asignarrol_path %>" method="get">
					<input type="hidden" name="grupo" id="grupo">
					<input type="hidden" name="usuario" value="<%= @user.id %>">
					
						<input type="submit" value="Asignar Rol" class='btn btn-primary super-btn'>
						
				</form>
			</div>
		</div>

		<div class="wrap-ed">
			<h2>Roles Asignados</h2>
			<div class="ed-form">
				<table>
					<thead>
						<tr>
							<th>Rol</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<%if supervisor?(@user.id)%>
							<tr>
								<td>Supervisor</td>
								<td><%= link_to "<i class='fas fa-times'></i>".html_safe, {controller: "administrador", action: "delete_rol", user: @user.id , rol: 2} %></td>
							</tr>
						<%end%>
						<%if admin?(@user.id)%>
							<tr>
								<td>Administrador</td>
								<td><%= link_to "<i class='fas fa-times'></i>".html_safe, {controller: "administrador", action: "delete_rol", user: @user.id , rol: 3} %></td>
							</tr>
						<%end%>
						<%if gestor?(@user.id)%>
							<tr>
								<td>Gestor</td>
								<td><%= link_to "<i class='fas fa-times'></i>".html_safe, {controller: "administrador", action: "delete_rol", user: @user.id , rol: 4} %></td>
							</tr>
						<%end%>
						<%if super?(@user.id)%>
							<tr>
								<td>Super Usuario</td>
								<td><%= link_to "<i class='fas fa-times'></i>".html_safe, {controller: "administrador", action: "delete_rol", user: @user.id , rol: 5} %></td>
							</tr>
						<%end%>
					</tbody>
				</table>
			</div>
		</div>

	</div>

<% else %>
	<h1>Usted no deberia estar en esta pagina</h1>
<% end %>
<script>

	function getGrupo() {
		document.getElementById("grupo").value = $("#exampleFormControlSelect1").val()
	}
	if (document.getElementById("grupo")){
		setInterval(getGrupo,300)
	}

</script>