<% if admin?(current_user[:id]) || super?(current_user[:id])%> 

   <div class="container-edsup " >
        <div class="wrap-edsup  ">
        <h2 style="text-align:center;"> Lista de supervisores </h2>
            <div class="barra container">
            <table id="supervisores" class="display">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th>Atraccion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <% @supervisor.each do |s| %>
                    <% if User.find(s.id).in_group?(Group.find(2)) %>
                        <tr>
                            <td><%= s.name %></td>
                            <td><%= s.last_name %></td>
                            <td><%= s.email %></td>
                            <td><%= s.phone %></td>
                            <% if !s.atraccion.nil? %>
                                <% @atraccion = Atraccion.find(s.atraccion) %>
                                <td><%= @atraccion.nombre_atc%></td>
                            <% else %>
                                <td>No asignada</td>
                            <% end %>
                            <td><%= link_to "<i class='fas fa-users-cog'></i>".html_safe ,administrador_asignar_path(id: s.id) %></td>
                        </tr>
                    <% end %>
                <% end %>
            </table>
            </div>
        </div>
    </div>
<% else %>
    <h1>Usted no deberia estar en esta pagina</h1>
<% end  %>

<script>
    $(document).ready( function () {
        $('#supervisores').DataTable();
    } );
</script>