<% if !current_user %>
    <div class="container-login100" >
                <div class="wrap-login100 ">
                        <img class="imagen"  alt="logo" src="<%= asset_path 'Fantasirow.PNG' %>"> 
                    
                        <form  class="login100-form"> 
                            <div class="container-login100-form-btn" >
                                <div class="wrap-login100-form-btn">
                                    <%= link_to 'Iniciar Sesion', user_session_path, class: 'btn btn-primary login100-form-btn' %>
                                </div>
                                    
                            </div> 

                             <div class="container-login100-form-btn" >
                                <div class="wrap-login100-form-btn">
                                    <%= link_to 'Registrarme', new_user_registration_path , class: ' btn btn-primary login100-form-btn'%>
                                </div>
                            </div>       
                        </form>
                    
                </div>
        </div>
<% else %>
    <% if cliente?(current_user[:id])%>
    <!--Colas del cliente-->
        <h1 style="text-align: center;">Mis Colas</h1>
        <% @operaciones = OperacionesAtraccion.where("users_id = #{current_user[:id]}")%>

    <div class="collection-colas" >  
        <% @operaciones.each do |op| %>
            <div class="container-colas" >
                <div class="wrap-colas ">
                  <% @atraccion = Atraccion.find(op.atraccions_id) %>
                 <h2 style="text-align:center;"><%= @atraccion.nombre_atc %></h2>
                    <form class=" colas-form">
                        <%# @atraccion.imagen_atc %>

                        <div class="field form-group label-colas" >
                            <% @estadoticket = TicketEstado.where("tickets_id = #{op.tickets_id}").last%>
                            <label>Numero de Ticket: <%= op.tickets_id %></label>
                        </div>

                        <div class="field form-group label-colas" >
                        
                            <% @estado = Estado.find(@estadoticket.estados_id) %>
                            <label> Estado: <%= @estado.descripcion_est%></label>
                        </div>
                        
                        <div class="container-login100-form-btn" >
                            <div class="wrap-login100-form-btn">
                                <% if @estadoticket.estados_id == 1 %>
                                    <%= link_to "Salir de la Cola <i class='far fa-times-circle'></i>".html_safe, {controller: "ticket", action: "cambiar_estado", estado: 5, ticket: op.tickets_id },class: 'btn btn-primary login100-form-btn'%>
                                <% end %>
                            </div>
                        </div>

                    </form>

           </div>
        </div>
        <% end %>
    </div> 
        
    <% end %>
    <% if supervisor?(current_user[:id])%>
    
        <h1>Tickets de Atraccion</h1>
        <% @supervisor = OperacionesAtraccion.all%>
        
            <div class="collection" >  
                    <% @supervisor.each do |sp| %>
                        <div class="col-sm-12 col-md-5 col-lg-3 margen_atra">
                            <div class="card wrap-tickets " >
                            <form  class="login100-form">
                                <% @atr = Atraccion.find(sp.atraccions_id) %>
                                <h2 style="text-align:center;"> <%= @atr.nombre_atc %></h2>

                                <div class="field form-group label-colas" >
                                    <label>Numero: <%= sp.tickets_id %></label>
                                </div>
                                <% @tktest = TicketEstado.where("tickets_id = #{sp.tickets_id}").last %>
                                <% @est = Estado.find(@tktest.estados_id)  %>

                                <div class="field form-group label-colas" >
                                    <label>Estado: <%= @est.descripcion_est %><label>
                                </div>
                                <% @state = Estado.where("descripcion_est != 'Abortado' and descripcion_est !=  'Encolado' ") %>
                                    
                                    <div class="field form-group label-colas">
                                        <% if @tktest.estados_id != 5%>
                                            <% if @tktest.estados_id == 1 %>
                                                <%= link_to "Llamar a servicio <i class='far fa-circle'></i>".html_safe, {controller: "ticket", action: "cambiar_estado", estado: 2, ticket: sp.tickets_id },class: 'btn btn-primary login100-form-btn'%>
                                            <% elsif @tktest.estados_id == 2 %>
                                                <%= link_to "Servido <i class='fas fa-circle'></i>".html_safe, {controller: "ticket", action: "cambiar_estado", estado: 3, ticket: sp.tickets_id },class: 'btn btn-primary login100-form-btn'%>
                                            <% end %>
                                            <%= link_to "Omitir <i class='far fa-times-circle'></i>".html_safe, {controller: "ticket", action: "cambiar_estado", estado: 4, ticket: sp.tickets_id },class: 'btn btn-primary login100-form-btn'%>
                                        <%end %>
<%
=begin%>
                                    <select id="estados">
                                        <% @state.each do |st| %>
                                            <option value="<%= st.id %>"><%= st.descripcion_est%></option>
                                        <% end %>
                                    </select>
                                        <form  action="<%=ticket_cambiar_estado_path%>" method= 'get'>

                                            <%= text_field_tag :estado,'' ,id: "estado", type:"hidden" %>
                                            <%= text_field_tag :ticket,'' , value: sp.tickets_id ,type:"hidden"%>
                                            <%= submit_tag "Cambiar", class: "btn btn-primary" %>
                                        </form>
<%
=end%>
                                    </div>
                                    <% @user = User.find(sp.users_id) %>
                                    <div class="container-login100-form-btn" >
                                        <div class="wrap-login100-form-btn">
                                            <a href="https://web.whatsapp.com/send?phone=<%= @user.phone %>&text=Hola,%20<%= @user.name %>%20dirigete%20a%20la%20atraccion:%20<%=@atr.nombre_atc %>,%20que%20estas%20proximo%20a%20ser%20atendido." target='_blank' class= 'btn btn-primary tickets-btn'>
                                                <label>Contactar <i class='fab fa-whatsapp'></i></label>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>    
                    <% end %>
            </div>
             

    <% end %>
    <% if admin?(current_user[:id])%>
        <h1>Administrador</h1>
    <% end %>
    <% if gestor?(current_user[:id])%>
        <h1>Gestor</h1>
    <% end %>
    <% if super?(current_user[:id])%>
        <h1>Super Usuario</h1>
    <% end %>
<% end %>

<script>
function setEstado(){
    document.getElementById("estado").value = $("#estados").val()
}
if(document.getElementById("estado"))
{
    setInterval(setEstado,500)
}
</script>