<% if !current_user %>
    <div class="container-login100" >
        <div class="wrap-login100 ">
                <img class="imagen"  alt="logo" src="<%= asset_path 'Fantasirow.PNG' %>"> 
            
                <div  class="login100-form"> 
                    <div class="container-login100-form-btn" >
                        <div class="wrap-login100-form-btn">
                            <%= link_to 'Iniciar Sesion', user_session_path, class: 'btn btn-primary login100-form-btn' %>
                        </div>
                    </div> 

                        <div class="container-login100-form-btn" >
                        <div class="wrap-login100-form-btn">
                            <%= link_to 'Registrarme', new_user_registration_path , class: ' btn btn-primary login100-form-btn'%>
                        </div>
                    </div>       
                </div>
            
        </div>
    </div>
<% else %>
    <% if cliente?(current_user[:id])%>
    <!--Colas del cliente-->
        <h1 style="text-align: center;">Mis Colas</h1>
        <% @operaciones = OperacionesAtraccion.where("users_id = #{current_user[:id]}").order('created_at DESC')%>

    <div class="collection-colas" >  
        <% @operaciones.each do |op| %>
            <% @estadoticket = TicketEstado.where("tickets_id = #{op.tickets_id}").last%>
            <% @estado = Estado.find(@estadoticket.estados_id) %>
            <% if @estado.id != 5 && @estado.id != 4%>
                <div class="container-colas" >
                    <div class="wrap-colas ">
                    <% @atraccion = Atraccion.find(op.atraccions_id) %>
                    <h2 style="text-align:center;"><%= @atraccion.nombre_atc %></h2>
                        <div class=" colas-form">
                            <%# @atraccion.imagen_atc %>

                            <div class="field form-group label-colas" >
                                <label>Numero de Ticket: <%= op.tickets_id %></label>
                            </div>

                            <div class="field form-group label-colas" >
                                <label> Estado: <%= @estado.descripcion_est%></label>
                            </div>
                            
                            <div class="container-login100-form-btn" >
                                <div class="wrap-login100-form-btn">
                                    <% if @estadoticket.estados_id == 1 %>
                                        <%= link_to "Salir de la Cola <i class='far fa-times-circle'></i>".html_safe, {controller: "ticket", action: "cambiar_estado", estado: 5, ticket: op.tickets_id },class: 'btn btn-primary login100-form-btn'%>
                                    <% end %>
                                </div>
                            </div>

                        </div>

                </div>
            <%end%>
        </div>
        <% end %>
    </div> 
        
    <% end %>
<% end %>

<script>
function setEstado(){
    document.getElementById("estado").value = $("#estados").val()
}
if(document.getElementById("estado"))
{
    setInterval(setEstado,500)
}
</script>