<% if !current_user %>
    <div class="container-login100" style="background-image: url(<%= asset_path 'descarga.jpg' %>) ;">
                <div class="wrap-login100 ">
                        <img class=""  alt="logo" src="<%= asset_path 'Fantasirow.PNG' %>"> 
                    
                        <form  class="login100-form"> 
                            <div class="container-login100-form-btn" >
                                <div class="wrap-login100-form-btn">
                                    <%= link_to 'Iniciar Sesion', user_session_path, class: 'btn btn-primary login100-form-btn' %>
                                </div>
                                    
                            </div> 

                             <div class="container-login100-form-btn" >
                                 <div class="wrap-login100-form-btn">
                                    
                                    <%= link_to 'Registrarme', new_user_registration_path , class: ' btn btn-primary login100-form-btn'%>
                                </div>
                            </div>       
                        </form>
                    
                </div>
        </div>
<% else %>
    <% if cliente?(current_user[:id])%>
        <h1>Mis Colas</h1>
        <% @operaciones = OperacionesAtraccion.where("users_id = #{current_user[:id]}")%>
        <% @operaciones.each do |op| %>
            <label>Atraccion: <% @atraccion = Atraccion.find(op.atraccions_id) %></label>
            <%= @atraccion.nombre_atc %>
            <%# @atraccion.imagen_atc %>
            <% @estadoticket = TicketEstado.where("tickets_id = #{op.tickets_id}").last%>
            <label>Numero de Ticket: <%= op.tickets_id %></label>
            <% @estado = Estado.find(@estadoticket.estados_id) %>
            <%= @estado.descripcion_est%>
            <%= link_to "Salir de la Cola <i class='far fa-times-circle'></i>".html_safe, {controller: "ticket", action: "cambiar_estado", estado: 5, ticket: op.tickets_id },class: 'btn btn-primary'%>
            <br>
        <% end %>

    <% end %>
    <% if supervisor?(current_user[:id])%>
        <h1>Tickets de Atraccion</h1>
        <% @supervisor = OperacionesAtraccion.all%>
        <% @supervisor.each do |sp| %>
            <% @atr = Atraccion.find(sp.atraccions_id) %>
            <%= @atr.nombre_atc %>
            <%= sp.tickets_id %>
            <% @tktest = TicketEstado.where("tickets_id = #{sp.tickets_id}").last %>
            <% @est = Estado.find(@tktest.estados_id)  %>
            <%= @est.descripcion_est %>
            <% @state = Estado.where("descripcion_est != 'Abortado' and descripcion_est !=  'Encolado' ") %>
                <select id="estados">
                    <% @state.each do |st| %>
                        <option value="<%= st.id %>"><%= st.descripcion_est%></option>
                    <% end %>
                </select>
                <%# link_to "Cambiar", {controller: "ticket", action: "cambiar_estado", estado: :estados, ticket: sp.tickets_id },class: 'btn btn-primary'%>
                <% @user = User.find(sp.users_id) %>
                <a href="https://web.whatsapp.com/send?phone=<%= @user.phone %>&text=Hola,%20<%= @user.name %>%20dirigete%20a%20la%20atraccion:%20<%=@atr.nombre_atc %>,%20que%20estas%20proximo%20a%20ser%20atendido." target='_blank' class= 'btn btn-primary'>
                    Contactar <i class='fab fa-whatsapp'></i>
                </a>
                <br>
        <% end %>
    <% end %>
    <% if admin?(current_user[:id])%>
        <h1>Administrador</h1>
    <% end %>
    <% if gestor?(current_user[:id])%>
        <h1>Gestor</h1>
    <% end %>
    <% if super?(current_user[:id])%>
        <h1>Super Usuario</h1>
    <% end %>
<% end %>

<script>
// function setEstado(){
//     document.getElementById("estado").value = $("#estados").val()
//     console.log($("#estado").val())
// }
// if (document.getElementById("estado")){
//     setInterval(setEstado,500)
// }
</script>