<% if !current_user %>
    <div class="container centrar">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <form  class="form-inline"> 
                            <div class="container" style="text-align:center;">
                                <img class="imgLogo" alt="logo" src="<%= asset_path 'Fantasirow.PNG' %>"> 
                            </div>
                            <div class="form-group my-5 col-sm-6 margen-lef">
                                <%= link_to 'Iniciar Sesion', user_session_path, class: 'btn btn-primary btn-lg'%>
                            </div>
                            <div class="form-group col-sm-5">
                                <%= link_to 'Registrarme', new_user_registration_path , class: 'btn btn-primary btn-lg'%>
                            </div>       
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% else %>
    <% if cliente?(current_user[:id])%>
        <h1>Mis Colas</h1>
        <% @operaciones = OperacionesAtraccion.where("users_id = #{current_user[:id]}")%>
        <% @operaciones.each do |op| %>
            <label>Atraccion: <% @atraccion = Atraccion.find(op.atraccions_id) %></label>
            <%= @atraccion.nombre_atc %>
            <%# @atraccion.imagen_atc %>
            <% @estadoticket = TicketEstado.where("tickets_id = #{op.tickets_id}").last%>
            <label>Numero de Ticket: <%= op.tickets_id %></label>
            <% @estado = Estado.find(@estadoticket.estados_id) %>
            <%= @estado.descripcion_est%>
            <%= link_to "Salir de la Cola", {controller: "ticket", action: "cambiar_estado", estado: 5, ticket: op.tickets_id },class: 'btn btn-primary'%>
            <br>
        <% end %>
        

    <% end %>
    <% if supervisor?(current_user[:id])%>
        <h1>Tickets de Atraccion</h1>
        <% @supervisor = OperacionesAtraccion.all%>
        <% @supervisor.each do |sp| %>
            <% @atr = Atraccion.find(sp.atraccions_id) %>
            <%= @atr.nombre_atc %>
            <%= sp.tickets_id %>
            <% @tktest = TicketEstado.where("tickets_id = #{sp.tickets_id}").last %>
            <% @est = Estado.find(@tktest.estados_id)  %>
            <%= @est.descripcion_est %>
            <% @state = Estado.where("descripcion_est != 'Abortado' and descripcion_est !=  'Encolado' ") %>
                <select id="estados">
                    <% @state.each do |st| %>
                        <option value="<%= st.id %>"><%= st.descripcion_est%></option>
                    <% end %>
                </select>
                <button class= 'btn btn-primary' type="submit"> Cambiar Estado
                <%= form_for(:ticket ,controller: "ticket", action: "cambiar_estado") do |f| %>
                    <div class="actions">
                        <%= f.text_field :estado , id: "estado" , type: "hidden"%>
                        <%= f.text_field :ticket, value: sp.tickets_id , type: "hidden"%>
                        <%= f.submit "", type: "hidden"%>
                    </div>
                <% end %>
                </button>
                <%# link_to "Cambiar", {controller: "ticket", action: "cambiar_estado", estado: :estados, ticket: sp.tickets_id },class: 'btn btn-primary'%>
                <br>
        <% end %>
    <% end %>
    <% if admin?(current_user[:id])%>
        <h1>Administrador</h1>
    <% end %>
    <% if gestor?(current_user[:id])%>
        <h1>Gestor</h1>
    <% end %>
    <% if super?(current_user[:id])%>
        <h1>Super Usuario</h1>
    <% end %>
<% end %>

<script>
function setEstado(){
    document.getElementById("estado").value = $("#estados").val()
    console.log($("#estado").val())
}
if (document.getElementById("estado")){
    setInterval(setEstado,500)
}
</script>