<p id="notice"><%= notice %></p>
<div class="container-login100" >
                <div class="wrap-login2 ">
                <div class="card" style="  background: rgba(255, 255, 255, 0.671);">

                      <% if @atraccion.image.attached?%>
                      <img class="card-img-top" src="<%= url_for(@atraccion.image) %>" alt="<%= @atraccion.nombre_atc %>" height="200" width="250" />
                      <% end %>
                      <!--<img class="card-img-top imagen " src="<%# image_tag(@atraccion.imagen_atc.url, alt: @atraccion.nombre_atc) if @atraccion.image_atc? %>" height="200" width="250" /> -->
                      <div class="card-body login100-form">
                              
                              <p >
                                <strong >Nombre atc:</strong>
                                <%= @atraccion.nombre_atc  %>
                              </p>

                              <p>
                                <strong>Descripcion atc:</strong>
                                <%= @atraccion.descripcion_atc %>
                              </p>
                              
                              <p>
                                <strong>Capacidad de la atraccion :</strong>
                                <%= @atraccion.capacidad_atc %>
                              </p>
                              <p>
                                <strong>Qr: </strong>
                                <% @imagen = "https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=https://colasvirtuales.herokuapp.com/ticket/encolar?id="+@atraccion.id.to_s+"&format=jpg&qzone=3" %>
                                <img src="<%=@imagen%>" alt="qr">
                                <%= link_to "Descargar <i class='fas fa-cloud-download-alt'></i>".html_safe, @imagen %>
                              </p>
                            <div class="container-login100-form-btn" >
                                <div class="wrap-login100-form-btn">
                                    <%= link_to 'Editar', edit_atraccion_path(@atraccion), class: 'btn btn-primary btn-block login100-form-btn' %> 
                                 </div>
                            </div>
                            <div class="container-login100-form-btn" >
                                <div class="wrap-login100-form-btn">
                                     <%= link_to 'inicio', atraccions_path , class: 'btn btn-primary btn-block login100-form-btn' %>
                               </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
 
