<!DOCTYPE html>
<html>
  <head>
    <title>Colas Virtuales</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--API google maps-->
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyD7G7I8E4X_PAeG1bHTTA2o2IG5P-s06pE' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head_tags) %>
  </head>

  <body>
    <% if current_user %>
      <nav class="navbar navbar-expand-md  navbar-light  fix-top stylenav" > 
                <a class="navbar-brand" href="<%= root_path %>">
                  <img class="imgLogo" alt="logo" width="150" height="90" class="d-inline-block align-top" src="<%= asset_path 'Fantasirow.PNG' %>"> 
                </a>  
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-target">
                  <a class="navbar-toggler-icon"></a>
                </button>   

        <div class="collapse navbar-collapse" id="collapse-target">
                        <ul class="nav navbar-nav mr-auto" >
                            <li class=" nav-item">
                              <%= link_to "Inicio", root_path, class: 'nav-link' %>
                            </li>
                          <% if cliente?(current_user[:id]) %>
                            <li class=" nav-item">
                              <%= link_to 'Mapa', usuario_map_path, class: 'nav-link' %>
                            </li>

                            <li class=" nav-item">
                              <%= link_to 'Atracciones', atraccions_path, class: 'nav-link' %>
                            </li>
                          <% end %>
                          <% if supervisor?(current_user[:id])%>
                            <li class=" nav-item">
                              <%= link_to 'Atraccion Asignada', '#', class: 'nav-link' %>
                            </li>
                          <% end %> 
                          <% if admin?(current_user[:id]) || super?(current_user[:id])%>
                            
                              <%= link_to 'Nueva Atraccion', new_atraccion_path , class: 'nav-link' %>
                            </li> 
                            <li class=" nav-item">
                              <%= link_to 'Editar Supervisores', administrador_supervisores_path, class: 'nav-link' %>
                            </li> 
                          <% end %>
                          <% if gestor?(current_user[:id]) || super?(current_user[:id])%>
                          <li class=" nav-item">
                            <%= link_to 'Informes', '#', class: 'nav-link' %>
                          </li>
                          <% end %>
                          <% if super?(current_user[:id]) %>
                          <li class=" nav-item">
                            <%= link_to 'Editar Usuarios', administrador_editusers_path, class: 'nav-link' %>
                          </li>
                          <% end %>
                        
                        </ul>

                          <ul class="nav navbar-nav my-2 my-lg-0" > 
                            <li class=" nav-item dropdown "> 
                              <a class="nav-link dropdown-toggle"  data-toggle="dropdown" data-target="dropdown-target" href="#">
                              <h5>Bienvenido <%= current_user[:name]%></h5>
                            
                              </a>
                                  <div class="dropdown-menu">
                                  <%= link_to "Editar Cuenta", edit_user_registration_path, class: 'nav-link' %>
                                  <div class="dropdown-divider"></div>
                                  <%= link_to "Cerrar Sesion", destroy_user_session_path, :method => :delete , class: 'nav-link' %>
                                </div>
                            </li> 
                          </ul>
                      </div>

      </nav>
    <% end %>
    <%= yield %>
  </body>
  <!--Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>
